<div class="card-group">
    <div class="container-fluid">
        <div class="row">
            <div class="card col-lg-4 col-12">
                <h3 class="card-header">{{title}}</h3>
                <div class="card-body">
                    <p>Id: {{stepTest.Id}}</p>
                    <p>Person: <a [routerLink]="['/person', stepTest.PersonId]">{{ testName | async }}</a></p>
                    <p>Test Type: {{stepTest.TestType}}</p>
                    <p>Effort Unit: {{stepTest.EffortUnit}}</p>
                    <p>Step Duration: {{ stepTest.StepDuration | micro10SecFormatted }}</p>
                    <p>Load Duration: {{stepTest.LoadPreset}}</p>
                    <p>Increase: {{stepTest.Increase}}</p>
                    <p>Temperature: {{stepTest.Temperature}}</p>
                    <p>Weight: {{ stepTest.Weight | number: '1.1-1'}}</p>
                    <p>Test Date: {{ stepTest.TestDate | dateTimeFormatted}}</p>
                </div>
            </div>

            <div class="card col-lg-8 col-12">
                <h3 class="card-header">Measurements</h3>
                <div class="card-body">
                    <app-measurements-list class="card-body" [listMeasurements]="measurements"> </app-measurements-list>
                </div>
            </div>
        </div>
    </div>
</div>