<table class="table table-hover">
    <caption>Number of Step Tests: {{ stepTests.length}}
    </caption>
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th *ngIf="!isOnPerson()" scope="col">
                Person Name</th>
            <th scope="col" (click)="sort('TestType')">
                Test Type</th>
            <th scope="col" (click)="sort('LoadPreset')">
                LoadPreset</th>
            <th scope="col" (click)="sort('Increase')">
                Increase</th>
            <th scope="col" (click)="sort('TestDate')">Test Date</th>
        </tr>
    </thead>
    <tr *ngFor="let stepTest of stepTests">
        <th scope="row"> {{stepTest.Id}} </th>
        <td *ngIf="!isOnPerson()">
            <a [routerLink]="['/person', stepTest.PersonId]">{{ stepTest.LastName }}, {{ stepTest.FirstName }}
            </a>
        </td>
        <td><a [routerLink]="['/steptest', stepTest.Id]">
                {{stepTest.TestType}}
            </a></td>
        <td><a [routerLink]="['/steptest', stepTest.Id]">
                {{stepTest.LoadPreset}}
            </a></td>
        <td><a [routerLink]="['/steptest', stepTest.Id]">
                {{stepTest.Increase}}
            </a></td>
        <td><a [routerLink]="['/steptest', stepTest.Id]">
                {{ stepTest.TestDate | dateTimeFormatted }}
            </a></td>
    </tr>
    <tr *ngIf="!stepTests || !stepTests.length">
        <td colspan="3">No Step Tests found</td>
    </tr>
</table>