<div class="card-group">
    <div class="container-fluid">
        <div class="row">
            <div class="card col-lg-4 col-12">
                <h3 class="card-header">{{title}}</h3>
                <div class="card-body">
                    <p>Id: {{person.Id}}</p>
                    <p>First Name: {{person.FirstName}}</p>
                    <p>Last Name: {{person.LastName}}</p>
                    <p>Email: {{person.Email}}</p>
                    <p>Post Code: {{person.PostCode}}</p>
                    <p>Post City: {{person.PostCity}}</p>
                    <p>Birth Date: {{person.BirthDate | onlyDate}} </p>
                    <p>Height: {{person.Height}}</p>
                    <p>Sex: {{person.Sex}}</p>
                    <p>MaxHr: {{person.MaxHr}}</p>
                </div>
            </div>

            <div class="card col-lg-8 col-12">
                <h3 class="card-header">StepTests</h3>
                <div class="card-body">
                    <app-step-tests-list class="card-body" [listStepTests]="stepTests"> </app-step-tests-list>
                </div>
            </div>
        </div>
    </div>
</div>