<div class="card-group">
    <div class="container-fluid">
        <div class="row">
            <div class="card col-lg-4 col-12">
                <h3 class="card-header">{{title}}</h3>
                <div class="card-body">
                    <p>Id: {{measurement.Id}}</p>
                    <p>Sequence: {{measurement.Sequence}}</p>
                    <p>Step Test Id: {{measurement.StepTestId}}</p>
                    <p>Heart Rate: {{measurement.HeartRate}}</p>
                    <p>Lactate: {{measurement.Lactate}}</p>
                    <p>Load: {{measurement.Load}}</p>
                    <p>InCalculation: {{measurement.InCalculation}}</p>
                </div>
            </div>

            <!-- <div class="card col-lg-8 col-12">
                <h3 class="card-header">Measurements</h3>
                <div class="card-body">
                    <app-measurements-list class="card-body" [listMeasurements]="measurements"> </app-measurements-list>
                </div>
            </div> -->
        </div>
    </div>
</div>