<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="image-fluid" src="../../assets/Full 05 Red Text Horizontal_292x70.png" alt="Lanterne Rouge Logo"
                class="d-inline-block align-text-center" />
            Lactate Analyser
        </a><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/persons">Persons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/steptests">Step Tests</a>
                </li>
            </ul>
        </div>
    </div>

</nav>